<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">

	<select id="selectMenu" resultType="com.kosateam2.chicken.dto.ChickenMenu">
		select menuid, menuname, menuprice, menuweight from menus
	</select>
	
	<select id="getOid" resultType="int">
		select OID_NO.nextval from dual
	</select>
	
	<insert id="insertNowMenu" parameterType="com.kosateam2.chicken.dto.ItemMember">
		insert into itemmenus(oid, menuid, amount)
		values(#{oid}, #{menuId}, #{amount})
	</insert>
	
	<select id="selectDrone" resultType="com.kosateam2.chicken.dto.Drone">
		select did, dname, dstatus from drones where dstatus='0'
	</select>
</mapper>